<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

    <body>

        <div class="jumbotron text-center">
            <h1>PARKING MADE EASY</h1>
            <p>We specialize in finding parking spaces for you</p>

            <form class="form-inline"></form>

            <div class="container text-center">

                <a href="/login" class="btn btn-default">
                    <span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default">
                    <span class="fa fa-user"></span> Local Signup</a>
                <a href="/auth/facebook" class="btn btn-primary">
                    <span class="fa fa-facebook"></span> Facebook</a>
                <a href="/auth/google" class="btn btn-danger">
                    <span class="fa fa-google-plus"></span> Google+</a>

                <div class="about">

                    <h2>About Us</h2>
                    <h4>
                        <strong>MISSION:</strong> TO MAKE PARKING EASIER FOR YOU</h4>
                    <p>
                        <strong>VISION:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>

        <input id="pac-input" class="form-control" type="text" placeholder="Search Box">
        <div id="map"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqDz3GS4JZ6ZchvADuNmzZM7_fkk9EiJ0&callback=initMap">
        </script>

        <div class="container-fluid bg-grey">
            <h2 class="text-center">CONTACT</h2>
            <div class="row">
                <div class="col-sm-5">
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span> Hong Kong</p>
                    <p>
                        <span class="glyphicon glyphicon-phone"></span> +852 99999999</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" value="phil" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" value="philipauu@gmail.com" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5">hihihefalkfjalkjfeaifjeal</textarea>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" id="send" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PARKINGPARKPARKPARK</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">ABOUT</a>
                        </li>
                        <li>
                            <a href="#bg-grey">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqDz3GS4JZ6ZchvADuNmzZM7_fkk9EiJ0&libraries=places&callback=activatePlacesSearch"></script>

    </body>

</html>